{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1>Welcome to Radboud Group-Finder</h1>
        <h2> Noah will add an Login view here soon. </h2><br>
        <a href= '/profiles/'>Profiles </a><br>
        <a href= '/profiles/details/create'>Create a profile </a><br>
        <a href= '/groups'>Groups </a><br>
        <a href= '/groups/details/create'>Create a group  </a><br>
        <a href= '/test/'>Test page</a><br>
        <a href= '/sidebar/'>Sidebar test page</a><br>
{% endblock content %}