{% extends "base.html"%}




{%block content%}
{% if not created %}
<h1 style="margin-top: 40px">Create your Group</h1>
<div style = 'margin-top:30px;'></div>
    <form action ='.' method="POST">
        {% csrf_token %}
        <div><input class = "group_name" type = 'text' name = 'Group Name' placeholder = 'Group Name'/></div>
        <div>    
            <select class = "group_course" id="courses" name="Group Course">
                <option value="" disabled selected>Group Course</option>
                <option value="Calculus and Probability Theory">Calculus & Probability Theory</option>
                <option value="Hacking in C">Hacking in C</option>
            </select>
        </div>
        <div><input class = "group_size_form" type = 'text' name = 'Group Size' placeholder = 'Group Size'/></div>
        <div>   <input class = "description" type = 'text' name = 'Description' placeholder = 'Description' /> </div>
        <button type = 'submit' > Create group</button>
    </form>
</div>
{% else %}
<p> The group was created</p>
<a href = '{{group_obj.id}}/'> view group</a>
<a href = '{{owner_obj.id}}/'> view owner</a>
{% endif %}


{%endblock content%}