{% extends "base.html" %}


{% block content %}
<form action = 'details/' method = 'GET' >
    <input type = 'text' name ='query'/>
    <input type = 'submit' />
</form>
<ul>{% for x in groups_obj_list %}
    <li>{{ x.groupName}}-{{x.course}}-{{x.groupSize}}-{{x.groupDescription}} <a href = 'details/{{x.id}}/'> view group</a></li>
    <ul>{% for membership in x.membership_set.all %}
        <li>{{ membership.profile.firstName }}
            {{ membership.profile.lastName }}
            s{{ membership.profile.studentNumber }}
        </li>
        
    {% endfor %}</ul>
    {% endfor %}
</ul> 
{% endblock content%}