{% extends "base.html"%}
{% block content %}
<div class="group_view_container">
    <h1>Profile page of {{group_obj.groupName}}</h1><br><br><br>
        <p>Group Name: {{group_obj.groupName}}</p>
        <p>Group Size: {{group_obj.groupSize}}</p>
        <div class = "group_view_details_desc"><p>Group Description: {{group_obj.groupDescription}}</p></div>
        <p>Group Course: {{group_obj.course}}</p>
        <p>Group Members:</p>
        <ul>{% for membership in group_obj.membership_set.all %}
            <li>{{ membership.profile.firstName }}
                {{ membership.profile.lastName }}
                s{{ membership.profile.studentNumber }}
            </li>
        {% endfor %}</ul>
        <a href="delete">Delete</a>
</div>
        
        
{% endblock content %}