{% extends "base.html"%}




{%block content%}
{% if not created %}
<h1>Create your Group</h1>
<div style = 'margin-top:30px;'></div>
    <form action ='.' method="POST">
        {% csrf_token %}
        <div>   <input type = 'text' name = 'Group Name' placeholder = 'Group Name' /> </div>
        <div>   <input type = 'text' name = 'Group Course' placeholder = 'Group Course' /> </div>
        <div>   <input type = 'text' name = 'Group Size' placeholder = 'Group Size' /> </div>

        <button type = 'submit' > Create group</button>
    </form>
</div>
{% else %}
<p> The group was created</p>
<a href = '{{group_obj.id}}/'> view group</a>
<a href = '{{owner_obj.id}}/'> view owner</a>
{% endif %}


{%endblock content%}