{% extends "base.html" %}
{% load static%}

{% block content %}
<h1>Find Group</h1><br><br><br>
<form action = 'details/' method = 'GET' >
    <input type = 'text' name ='query'/>
    <input type = 'submit' />
</form>
<!-- <ul>{% for x in groups_obj_list %}
    <li>{{ x.groupName}}-{{x.course}}-{{x.groupSize}}-{{x.groupDescription}} <a href = 'details/{{x.id}}/'> view group</a></li>
    <ul>{% for membership in x.membership_set.all %}
        <li>{{ membership.profile.firstName }}
            {{ membership.profile.lastName }}
            s{{ membership.profile.studentNumber }}
        </li>
        
        {% endfor %}</ul>
    {% endfor %}
</ul>  -->

{% for x in groups_obj_list %}
<a href = 'details/{{x.id}}/'><div class = "group">
    <div class = "group_img" ><img src="{% static 'img/group_img.png' %}"></div>
    <div class = "group_name">{{x.groupName}}</div>
    <div class = "group_course">{{x.course}}</div>
    <div class = "border"></div>
    <div class = "group_desc_box"><div class = "group_desc">{{x.groupDescription}}</div></div>
    
    

    <!-- <div>
        {% for membership in x.membership_set.all %}
        {{ membership.profile.firstName }}
        {{ membership.profile.lastName }}    
        {% endfor %}
    </div> -->
    <div class = "group_size">
        {{x.membership_set.all.count}}/{{x.groupSize}}
    </div>
</div></a>
    {% endfor %}

{% endblock content%}