{% extends "base.html" %}
{%block content%}
{% if not created %}
<h1>Edit your profile</h1>
<div style = 'margin-top:30px;'></div>
    <form action ='.' method="POST">
        {% csrf_token %}
        
        <div>   <input type = 'text' name = 'Student Number' placeholder = 'Student Number' /> </div>
        <div>   <input type = 'text' name = 'Study program' placeholder = 'Study program' /> </div>
        <div>   <input type = 'text' name = 'Gender' placeholder = 'Gender' /> </div>
        <div>   <input type = 'text' name = 'Age' placeholder = 'Age' /> </div>
        <!-- {{form.as_p}} -->

        <button type = 'submit' > Create profile</button>
    </form>
</div>
{% else %}
<p> The profile was edited</p>
<a href = '{{student_obj.id}}/'> view profile</a>
{% endif %}
{%endblock content %}