{% extends "accounts/base_login.html" %}

{% load static %}


        {%block content %}
        {% if not request.user.is_authenticated %}
        <h1 style="text-align: center; margin-top: 30px">Login</h1>
        <div class = "login_form"> 

            <form method = 'POST'>
                {% csrf_token %}
                <div class="username">{{form.username}}</div>
                <div class="password">{{form.password}}</div>
                <button type = 'submit'> Login</button>
            </form>
            <p style="font-size: 14px">Don't have an account yet? <a href = '/register/'> Register here </a>  </p>
        </div>
      

        <script>
            var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder='Username';
            form_fields[2].placeholder='Password';
        </script>
        {% else %}
        <div class = "login_form"> 
            <p> You're already logged in.<BR> Would you like to <a href ='/logout/'>logout</a>?</p>
                <BR><BR>
            <p> Or go back to the <a href ='/'>home page</a>.
        </div>
        {% endif %}

        {%endblock content %}


