{% extends "accounts/base_login.html" %}

{% load static %}


        {%block content %}
        {% if not request.user.is_authenticated %}
        <div class = "login_form"> 
            <form method = 'POST'>
                {% csrf_token %}
                <div class="username">{{form.username}}</div>
                <div class="password">{{form.password}}</div>
                <!-- {{form.as_p }} -->
                <button type = 'submit'> Log-in</button>
            </form>
            <p style="font-size: 14px">Don't have an account yet? <a href = '/register/'> Register here </a>  </p>
        </div>
      
        <!-- 
            We opt to use some simple javascript because we are unable 
            to change the HTML attributes for our built-in Django form
        -->
        <script>
            var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder='Username';
            form_fields[2].placeholder='Password';
        </script>
        {% else %}
    <p> You're already logged in. Would yo like to <a href ='/logout/'>logout</a> ?</p>
    
        {% endif %}

        {%endblock content %}


