{% extends "accounts/base_login.html" %}

{% load static %}

{%block content %}

<h1 style="margin-top: 50px; text-align: center">Logout</h1>
{% if request.user.is_authenticated %}
    <div style="margin-top:10px">
        <form method="POST"> {% csrf_token %}
            <div style="margin-top: 40px" class = "login_form"> 
                <p>Are you sure you want to logout? </p>
                <button type="submit">Yes, logout </button>
                <p> Or go back to the <a href ='/'>home page</a>.
            </div>
        </form> 
    </div>
{% else %} 
<div class = "login_form"> 
    <p> You're not logged in yet.<BR> Would you like to <a href ='/login/'>login</a>?</p>
</div>
{% endif %}

{%endblock content %}