{% extends "base.html"%}

{% block content %}
    <h1>Profile page of {{group_obj.groupName}}</h1>
        <p>Group Name: {{group_obj.groupName}}</p>
        <p>Group Size: {{group_obj.groupSize}}</p>
        <p>Group Description: {{group_obj.groupDescription}}</p>
        <p>Group Course: {{group_obj.course}}</p>
        <p>Group Members:</p>
        <ul>{% for membership in group_obj.membership_set.all %}
            <li>{{ membership.profile.firstName }}
                {{ membership.profile.lastName }}
                s{{ membership.profile.studentNumber }}
            </li>
            
        {% endfor %}</ul>
        
{% endblock content %}