{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Radboud Group-Finder</h1>
        <p> Do you alreaddy have an account? Then <a href = '/login/'> Login </a> </p>
        <p> Otherwise, sign up here (link to be added) </p>
        <p> Below was added an temporary link to all profiles that exist. </p>
        <a href= '/profiles/'>overview </a>
        <p> For creating a new profile click here (Again this is temporary)</p>
        <a href= '/profiles/details/create'>overview </a>


{% endblock content %}