{% extends "base.html" %}


{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type = "type/css" href="{% static 'css/homeview.css' %}">
</head>
    <h1 style = "color:red;">Welcome to Radboud Group-Finder</h1>
        <h2> 
            Noah will add an Login view here soon. 
        </h2>
        <p> Below was added an temporary link to all profiles that exist. </p>
        <a href= '/profiles/'>overview </a>
        <p> For creating a new profile click here (Again this is temporary)</p>
        <a href= '/profiles/details/create'>overview </a>

{% endblock content %}