.group {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 240px;
    height: 377px;
    top:35px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    
    background-color: #FFF;
    border: 3px solid #730E04;
    border-radius: 10px;
    font-family: 'Montserrat';
}

.group_img {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.group_name {
    text-align: center;
    font-style: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-weight: 200;
    font-size: 24px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.border {
    position: absolute;
    left: 15px;
    bottom: 45%;
    width: 200px;
    height: 0px;
    border: 1px solid #730E04;
    background-color: #730E04;
}

.group_course {
    text-align: center;
    font-size: 16px;
}

.group_desc_box {
    position: absolute;
    height: 30%;
    width: 100%;
    /* top:55%; */
    bottom: 40px;
}

.group_desc {
    font-size: 14px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.group_size {
    float: bottom;
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;    
}

