.group {
    background-color: #FFF;
    border: 3px solid #730E04;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    float: left;
    font-family: 'Montserrat';
    height: 377px;
    margin: 10px;
    position: relative;
    top: 35px;
    width: 240px;
}

.group_img {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.group_name {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    -webkit-line-clamp: 1;
    margin-bottom: 10px;
    /* line-height: 26px; */
    margin-top: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
    text-overflow: ellipsis;
}

.border {
    background-color: #730E04;
    border: 1px solid #730E04;
    bottom: 45%;
    height: 0px;
    left: 15px;
    position: absolute;
    width: 200px;
}

.group_course {
    font-size: 16px;
    text-align: center;
}

.group_desc_box {
    /* top:55%; */
    bottom: 40px;
    height: 30%;
    position: absolute;
    width: 100%;
}

.group_desc {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    -webkit-line-clamp: 7;
    margin: 20px;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.group_size {
    bottom: 10px;
    float: bottom;
    position: absolute;
    text-align: center;
    width: 100%;
}