.group_view_name {
    /* display: inline; */
    font-size: 18pt;
    font-weight: 600;
    padding-top: 80px;
}

.group_view_container {
    font-family: "Montserrat";
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.group_view_img {
    float: left;
    padding: 30px;
    width: 140px;
}

.group_view_description {
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    font-size: 14px;
    margin-right: 0;
    /* text-overflow: ellipsis; */
    overflow-wrap: break-word;
    width: 100%;
}

.group_view_description h1 {
    font-size: 14pt;
    font-weight: 600;
    padding: 0px 15px 0px 30px;
}

.group_view_description p {
    padding: 10px 30px 20px 30px;
}

.group_view_members {
    background-color: #d6d6d6;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    /* float: left; */
    overflow: auto;
    width: 700px;
    padding-bottom: 20px;
}

.group_view_members h1 {
    font-size: 14pt;
    font-weight: 600;
    padding: 28px 15px 15px 30px;
}

.member {
    /* display: block; */
    /* position: relative; */
    float: left;
    font-size: 12pt;
    padding: 15px 15px 15px 30px;
    width: 300px;
}

.group_view_details {
    background-color: #d6d6d6;
    border-radius: 0 0 20px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 700px;
}