.grid-container {
    border: 2px solid rgba(0, 0, 0, .4);
    display: flex;
    height: 90vh;
    margin: 0 auto;
    transition: 1s ease;
    width: 90vw;
}

.sidebar {
    background-color: #54a;
    height: 100%;
    position: relative;
    transition: 1s ease;
    width: 30%;
}

.main-content {
    background-color: #ccc;
    height: 100%;
    transition: 1s ease;
    width: 70%;
}

.main-content_large {
    width: 90%;
}

.sidebar_small {
    width: 10%;
}

button {
    border: none;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .3);
    cursor: pointer;
    height: 40px;
    left: 100%;
    position: absolute;
    top: 2rem;
    transform: translateX(-50%);
    width: 40px;
}