* {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: rgb(255,255,255);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.sidebar_logo {
  width: 100px;
  height: auto;
  position: relative;
  left: 50%;
  top: 7px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.4;
}

.home_bar {
position: fixed;
overflow: hidden;
z-index: 1000;
width: 100%;
height: 50px;
left: 0px;
top: 0px;
filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
background: #FFFFFF;
}

.home_img {
  position: absolute;
  display: block;
  width: 0px;
  height: auto;
  left: 108px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home_btn {
  position: absolute;
  width: 286px;
  height: 22px;
  left: 100px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-60%);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;

  color: #000000;
}

.menu_btn {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 30px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.notif {
  position: inherit;
  width: 50px;
  height: 100%;
  right: 288px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}

.user_logo {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 213px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
}

.user_name {
  position: absolute;
  width: 167px;
  height: 20px;
  right: 31px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  
  
  color: #000000;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    float:left
}
/* sidebar */
.grid-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  /* transition: 1s ease; */
  margin-left: 0;
  left: 0;
  overflow: hidden;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: #630808;
  transition: 1s ease;
  position: relative;
  z-index: 999;
  top: 50px;
  margin-left: 0px;
}

.sidebar a {
  position: relative;
  white-space: nowrap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: block;
  padding: 10px 5px 10px 15px;
  color:#FFFFFF;
  background-color: #630808;
  transition: 1s 0.15s ease;
}

.sidebar a:first-of-type {
  margin-top: 20px;
}

.sidebar a:hover {
  background-color: #e3000b;
}

.main-content {
  width: 80%;
  height: 100%;
  background-color: rgb(212, 212, 212);
  transition: 1s ease;
  position: relative;
  top: 50px;
  margin-left: 0;
  padding: 50px;
}

.main-content_large {
  width: 100%;
}

.sidebar_small {
  width: 91px;
}

.sidebar_small a{
  opacity: 0;
}


button {
  position: absolute;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
  left: 100%;
  top: 2rem;
  transform: translateX(-50%);
  cursor: pointer;
}
 
